<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p>Hello Everyone, I am Kavish Gupta. This site is made by me to check the weather of any location around the world.</p>
        <img class="portrait" src="./img/kavishgupta.png" alt="sample pic">
    </div>

    {{>footer}}
</body>

</html>